.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.technical {
    padding-top: 4%;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;
    margin-left: 8%;
}

.technical-header {
    font-size: 28px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
    -webkit-text-stroke: 0.5px #0F8CEC;
}

.tag-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
    margin-bottom: 30px;
    margin-top: 30px;
}

.horizontal-list {
    margin-top: 15px;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #ffffff;
}

.horizontal-list > div {
    margin-right: 50px; /* Space between divs */
    border: 2px solid #ffffff;
    border-radius: 25px; /* Curved edges */
    padding: 10px;
}

.horizontal-list > div:last-child {
    margin-right: 0; /* No extra space after the last div */
}

.web {
    margin-bottom: 20px;
}

.program {
    margin-bottom: 20px;
}

.mobile {
    margin-bottom: 20px;
}

.design {
    margin-bottom: 20px;
}

.co-headers {
    margin-left: 0%;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 15px;
    text-align: left;
}

.second-header {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 15px;
    text-align: left;
}

.soft {
    width: 100%;
    margin-left: 8%;
}

.soft-header {
    font-size: 28px;
    color: #ffffff;
    text-align: left;
    margin-bottom: 20px;
    -webkit-text-stroke: 0.5px #0F8CEC;
}

.soft-category {
    margin-bottom: 15px;
}

.soft-cat-headers {
    font-size: 20px;
    color: #ffffff;
    text-align: left;
}
a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #0F8CEC;
}

.card{
    margin-right: 45%;
    border: 1px solid #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #000000;
}

.card-with-head{
    margin-left: 3%;
    
}

.card-header{
    flex: 0.4;
    font-size: 20px;
    color: #ffffff;
    margin-left: 20px;
    -webkit-text-stroke: 0.5px #0F8CEC;
}

.card-image{
    margin-left: 2px;
    width: 80%;
    flex: 1;
}

.card-text{
    flex: 1;
    font-size: 18px;
    color: #ffffff;
    text-align: left;
    margin-right: 5px;
}